.ui-input-combo .dropdown {
    background: #251F30;
    border-radius: 1em;
    padding: 0.7em 0;
    overflow-y: scroll;
    transition: all 0.6s ease, padding 0.4s;
  }

  .ui-input-combo .dropdown.hide {
    opacity: 0;
    max-height: 0;
    padding: 0;
    pointer-events: none;
  }

  .ui-input-combo .dropdown.show {
    opacity: 1;
    max-height: 10em;
    pointer-events: auto;
  }

  .ui-input-combo .selected {
    padding: 0.3em 0.6em;
    border-radius: 0.5em;
  }
  
  .ui-input-combo .dropdown li {
    padding: 0.2em 0.6em;
    display: flex;
    align-items: center;
    gap: 0.7em;
    cursor: pointer;
    transition: 0.2s;
  }
  
  .ui-input-combo .dropdown li:hover {
    background: #8A38F5;
    transition: 0s;
  }

.box1
{
  background: #372D48;
  padding: 0.5em;
  border-radius: 1em;
}

.box1 .title
{
  background: #ffffff20;
  padding: 0.4em 0.6em;
  border-radius: 0.5em;
  margin-bottom: 0.5em;
}

.rotate-180
{
  transform: rotate(180deg);
}